*.gem
*.rbc
.idea
*.iml
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
.byebug_history
formapi-generator/target

## Emacs files
*~

## OSX files
.DS_Store
Thumbs.db

## Ignore baked in swagger generator
swagger-codegen

# Not sure where these are coming from
bootsnap-compile-cache


clients/python/test/venv-2/
clients/python/test/venv-3/
clients/python/.pytest_cache
clients/php/build

clients/csharp/wget-log*
