---
http_interactions:
- request:
    method: post
    uri: https://app.formapi.io/api/v1/templates/6zz3dYRYM67fxMXA/submissions
    body:
      encoding: UTF-8
      string: '{"data":{"first_name":"John","last_name":"Smith","favorite_color":"Blue"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic eVJhYVI5Sm1UUHRHWDdFTjpJQjNUUmtTZG00ZjJCZHRVX0QzWWd4amRNQjdsLXIyZk9ndnhEMVl6d2Vj
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb69a8124689ebf40ff6462a48cb9abd"
    body:
      encoding: UTF-8
      string: '{"status":"success","submission":{"state":"pending","test":true,"expired":false,"expires_at":null,"metadata":{},"id":"eyR4KFkaYKHztMdR","download_url":null}}'
  recorded_at: Mon, 23 Oct 2017 08:53:51 GMT
- request:
    method: get
    uri: https://app.formapi.io/api/v1/submissions/eyR4KFkaYKHztMdR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic eVJhYVI5Sm1UUHRHWDdFTjpJQjNUUmtTZG00ZjJCZHRVX0QzWWd4amRNQjdsLXIyZk9ndnhEMVl6d2Vj
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cfdc9e8399ed11cb2d8031cbf3f6c8d"
    body:
      encoding: UTF-8
      string: '{"state":"processed","test":true,"expired":false,"expires_at":"2017-10-30T08:53:50.350Z","metadata":{},"id":"eyR4KFkaYKHztMdR","download_url":"https://formapi-docs.s3.amazonaws.com/store/submissions/eyR4KFkaYKHztMdR/20171023085350-eyR4KFka.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJMQF3V7PUSLOCZYA%2F20171023%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20171023T085351Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=e3798e78fdcc1a0293d1b200dd7836eebae74e0c048a1e58e00d64aaf4c9f184"}'
  recorded_at: Mon, 23 Oct 2017 08:53:52 GMT
recorded_with: VCR 3.0.3
